services:
  api:
    build: 
      context: backend
      dockerfile: Dockerfile
    container_name: stranger-api
    environment:
      SPRING_PROFILES_ACTIVE: dev
    ports:
      - "8082:8080"

  frontend:
    build: 
      context: frontend
      dockerfile: Dockerfile
    container_name: web
    environment:
      API_BACKEND_URL: http://host.docker.internal:8080/api
    ports:
      - "80:80"
    volumes:
      - ./frontend:/var/www/html
